<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Survivor</h1>
    <form action="/dbd" method="POST">
        name: <input type="text" name="name" placeholder="name">
        role: <input type="text" name="role" placeholder="role">
        image: <input type="url" name="image" placeholder="image">
        lore: <input type="text" name="lore" placeholder="lore">
        <input type="submit" value="Edit">
    </form>
</body>
</html>